<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="CUSTOM_SERVER_PATH" value="http://jokas.mickenet.nu/parse/"/>
    <add key="APP_ID" value="244600d975e2836676e64cb3a18ceca692a9a23c"/>
    <add key="APP_REST_API_ID" value="a9122d5ab8f97176c51a2e5cf5273dd6543bfe93"/>
  </appSettings>
</configuration>